html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

:where(*) {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--color);
  display: grid;
  font-family: monospace;
  grid: 1fr / 1fr;
  margin: 0;
  min-block-size: 100dvh;
  place-items: center;
}

:root {
  --background: white;
  --color: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --color: white;
  }
}
